.btn {
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
  width: 100px;
  text-align: center;
}

.btnApprove {
  background-color: rgb(184, 224, 243);
}

.btnDeny {
  background-color: rgb(255, 177, 201);
}

.controlBar {
  position: sticky;
  top: -60px;
  left: 0;
  background-color: black;
  color: whitesmoke;
  opacity: 0.7;
  width: 100%;
  padding-bottom: 5px;
}
